* {

  box-sizing: border-box;

}

body {

  background-size: auto;
  background-image:url('https://cdn.dribbble.com/users/1010633/screenshots/7381291/media/4dd84adceaea77b43010a1879310bb27.png?compress=1&resize=400x300');
  margin-left: 150px;
  margin-right: 100px;
  padding: auto;

}

main {
  padding: 0 1rem;
}


/* Login Page */

.loginform {

max-width: 450px;
margin:auto;
padding-top: 100px;

}

.signupform {

 color:aliceblue;
 max-width: 300px;
 margin:auto;
 font-size: x-large;
 font-weight: 700;
 font-family: 'Times New Roman', Times, serif;
 padding-top: 50px;
 padding-bottom: 5px;

}

.signuptitle {

  padding-bottom: 10px;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;

}

.rtn-btn{

 color:aliceblue;
 font-weight: 700;
 font-family: 'Times New Roman', Times, serif;

}

.headerloginform {

 color:aliceblue;
 font-size: xx-large;
 font-weight: 500;
 font-family: 'Times New Roman', Times, serif;
 padding-top: 30px;
 margin: auto;

}

.signinform {

 color:aliceblue;
 font-weight: 900;
 font-family: 'Times New Roman', Times, serif;

}

.checkbox {

 color:aliceblue;
 font-weight: 700;
 font-family: 'Times New Roman', Times, serif;

}


/* Card page */

.PickupCard {
  padding: 30px;
  display:block;
  align-items: center;
  align-content: center;
  list-style-type: none;
  margin: auto;
  font-family: 'Times New Roman', Times, serif;
  color: aliceblue;
  
}

.PickupCard button {
  margin-top: 0.5rem;
  background-color: rgb(109, 218, 176);
}


@media (min-width: 768px) {

  .PickupCard {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .PickupCard {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .PickupCard {
    width: calc(20% - 2rem);
  }
}

#card-img {

  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 250px;
  height: 250px;
  margin: auto;

}


/* Navbar buttons */

.nav-title {
  text-align: center;
  size:large;
  color:aliceblue;
  font-family: 'Times New Roman', Times, serif;
}

.navmenu {
  list-style-type: none;
  
}

.nav-buttons {
  list-style-type: none;
  margin-bottom: 20%;
}


.nav-buttons li button {
  list-style-type: none;

}

.nav-button1 {
  background-color: rgb(109, 218, 176);
  color:rgb(240, 248, 255);
  border: 2px solid aliceblue;
  padding: 14px 40px;
  position: absolute;
  top: 0px;
  right: 275px;
  
}
.nav-button2 {
  background-color: rgb(109, 218, 176);
  color:rgb(240, 248, 255);
  border: 2px solid aliceblue;
  padding: 14px 40px;
  position: absolute;
  top: 0px;
  right: 134px;
}

.nav-button3{
  background-color: rgb(109, 218, 176);
  color:rgb(240, 248, 255);
  border: 2px solid aliceblue;
  padding: 14px 40px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.nav-buttons li button:hover{
  background-color: rgb(1, 136, 1);
}

.nav-buttons li button:not(:last-child){
  border-right: none;
}

/* Search */

.searchbar {

width: 100%;
text-align: center;
color:aliceblue;
font-weight: 500;
font-family: 'Times New Roman', Times, serif;

}

.pickup-requests {

  color:aliceblue;
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
}


@media (max-width: 800px) {

  .PickupCard {
    flex-direction: column;
  }

}


/* Update Items */

.updateitems-form {
  padding: 2rem 1rem;
  margin: 2rem 0;
  background-color: rgb(240, 248, 255,0.7);
  font-family: 'Times New Roman', Times, serif;
 
}

.updateitems-form form {
  display: flex;
  justify-content: center;
}

.updateitems-form input {
  margin-right: 2rem;
  flex: 1;
}

.updateitems-form button {
  width: 150px;
  background-color: rgb(109, 218, 176);
  color:rgb(240, 248, 255);
}


/* new Item form */

.new-item-form {
  padding: 2rem 1rem;
  margin: 2rem 0;
  background-color: rgb(240, 248, 255,0.7);
  font-family: 'Times New Roman', Times, serif;
}

.new-item-form form {
  display: flex;
  justify-content: center;
}

.new-item-form input {
  margin-right: 2rem;
  flex: 1;
}

.new-item-form button {
  width: 150px;
  background-color: rgb(109, 218, 176);
  color:rgb(240, 248, 255);
}

input {
  padding: 0.25rem;
  border: none;
  font-family: inherit;
  font-size: 1.2em;
  border-bottom: 2px solid gray;
  transition: all 0.2s;
  width: 100%;
}